version: "3.8"

services:
  web:
    image: nginx:alpine
    networks:
      - frontend
    volumes:
      - web-data:/usr/share/nginx/html

  db:
    image: postgres:13
    networks:
      - backend
    volumes:
      - db-data:/var/lib/postgresql/data

networks:
  frontend: {}
  backend: {}

volumes:
  web-data: {}
  db-data: {}

